<a href="https://colab.research.google.com/github/fredricksonm/Discrete-Mathematics/blob/main/FredricksonMicah_CPSMA_3913_01_Lesson_6_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part #6 : CPSMA 3913-01 Discrete Mathematics

## Numbers

First, I will write a few function to help me change the number from a different base to decimal.

In [ ]:
def val(c):
    if c >= '0' and c <= '9':
        return ord(c) - ord('0')
    else:
        return ord(c) - ord('A') + 10;

In [ ]:
def toDeci(str,base):
    llen = len(str)
    power = 1 
    num = 0   
 

    for i in range(llen - 1, -1, -1):
         
         
        if val(str[i]) >= base:
            print('Invalid Number')
            return -1
        num += val(str[i]) * power
        power = power * base
    return num

Now, I wll convert 24,036 base 7 to decimal.

In [ ]:

strr = "24036"
base = 7
print('Decimal equivalent of', strr,
              'in base', base, 'is',
                 toDeci(strr, base))

Decimal equivalent of 24036 in base 7 is 6201

Now, I will convert 72E3 from hex to decimal.

In [ ]:
strr = "72E3"
base = 16
print('Decimal equivalent of', strr,
              'in base', base, 'is',
                 toDeci(strr, base))

Decimal equivalent of 72E3 in base 16 is 29411

Below, I convert 3,735,928,559 from decimal to hex.

In [ ]:
hex(3735928559)

'0xdeadbeef'

I couldn't figure out the code for subtracting 25 - 37, but 
Two's Complement of 37 is 11011011
25 in binary is 11001

adding them together equals 11110100

-12 in decimal.